.App {
  text-align: center;
  background-color: #e1ddd8;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background: url('./Components/images/pinterest pic.jpeg') center/cover; 
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-bar-container {
  width: 100%;
  margin: 0;
  display: flex;
  flex-flow: column wrap;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type="tel"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.form {
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  background-color: rgba(97, 76, 57);;
  padding: 10px;
  color: white;
  border: 1px solid rgba(97, 76, 57);;
  border-radius: 3px;
  font-size: 1em;
  font-weight: bold;
  margin-top: 5px;
  cursor: pointer;
  position: relative;
  top: 0;
  margin-bottom: 10px;
}
input[type="submit"] {
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  background-color: rgba(131, 105, 83);
  padding: 10px;
  color: white;
  border: 1px solid rgba(131, 105, 83);
  border-radius: 3px;
  font-size: 1em;
  font-weight: bold;
  margin-top: 5px;
  cursor: pointer;
  position: relative;
  top: 0;
}

body {
  font-family: 'Arapey', serif; 
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  line-height: 1.58;
  letter-spacing: -0.003em;
  font-size: 20px;
  margin: 0;
  color: rgba(97, 76, 57);
}

@font-face {
  font-family: 'Arapey';
  src: url('https://fonts.googleapis.com/css2?family=Arapey&family=Montserrat&display=swap') format('woff');
}


.main {
  padding: 70px;
}

.navigation {
  /* flexbox styles */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /*flex-end*/
  list-style: none;
  margin: 0;
  background: rgba(131, 105, 83)
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}
.db-list div,p,ul,h2{
  margin: 10px 10px;

}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width:100%;
  height:auto;
  max-height:100%;
  }
.navigation a:hover {
  background: rgba(97, 76, 57);
}

/* media query styles are only applied if the conditions are met */
@media all and (max-width: 800px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }

  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

/* centering images */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centerText {
  text-align: center;
  padding: 70px; /* Adjust padding as needed */
}

.centerText h1 {
  font-size: 3em; /* Adjust the font size as needed */
  margin-bottom: 20px; /* Adjust margin as needed */
}

.centerText p {
  font-size: 1.5em; /* Adjust the font size as needed */
  margin-bottom: 20px; /* Adjust margin as needed */
}

.home-page .centerText {
  color: white; /* Set the font color to white */
}