/* Chat.css file */


.chat-box {
    max-width: 600px;
    
    border-radius: 4px;
    margin: 40px auto;     /* Adjust the top margin as per your needs */
  }
  /*
  .chat-window {
    border: 1px solid #b0a499;
    padding: 10px;
    height: 400px;    
    overflow-y: auto; 
    background-color: #b0a499;
    display: flex;
    border-radius: 4px;
    flex-direction: column; 
    justify-content: space-between; 
  }
  
  */
  .chat-window {
    position: relative;
    border: 1px solid #b0a499;
    padding: 10px;
    height: 400px; 
    background-color: #b0a499;
    display: flex; /* Added this */
    flex-direction: column; /* Added this */
    border-radius: 4px;
  }

  .messages-container {
    overflow-y: auto; /* Added this - To make this scrollable */
    flex-grow: 1; /* Added this - To make this container grow and take up available space */
  }
  
  .chat-input-form {
    margin-top: auto; /* Added this - Push the form down */
    height: 32px;
    margin-top: 10px;
    border: 1px solid #b0a499;
    
  }

  .chat-box button{
    background-color: rgba(97, 76, 57);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 3px;
  }

.chat-box button:hover {
  background-color: rgba(80, 64, 48); /* Darken the background on hover */
  transform: scale(1.05); /* Add a slight scale effect on hover */
}
.input-field {
  width: 80%;
  border-radius: 4px;
  cursor:text;
  border: none;
  height: 32px;  /* Adjust this value as per your needs */
}

.message {
  max-width: 70%;
  margin: 7px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: left; /* Controls the text alignment in the message */
}
.messages-container {
  display: grid;
  overflow-y: auto;
}

.sent {
  grid-column: 2;
  background-color: rgba(0, 123, 255, 0.2);
  color: black;
}

.received {
  grid-column: 1;
  background-color: rgba(0, 0, 0, 0.2);
  color: black;
}