.match-card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 10px;
    border: 2px solid rgb(144, 116, 93);
    margin: 10px;
    border-radius: 10px; 
    background-color: rgb(144, 116, 93);
  }
  
  .match-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    
  }

  @font-face {
    font-family: 'Arapey';
    src: url('https://fonts.googleapis.com/css2?family=Arapey&family=Montserrat&display=swap') format('woff');
  }
  
  
  .button-container {
    display: flex;
    justify-content: flex-end;
    align-self: center;
  }
  
  .match-card-header {
    font-weight: bold;
    color: white;
  }
  
  .match-card-class {
    font-size: 14px;
    color: white;
  }
  
  .match-card-button {
    background-color: rgba(158, 188, 146, 0.267);
    color: white;
    padding: 10px;
    border-radius: 5px;
    border-color:  rgba(158, 188, 146, 0.267);
    cursor: pointer;
  }